<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
<p>
</p>
  <strong>When:</strong>
  <%= @meeting.when %>
</p>

<%= link_to 'Edit', edit_course_meeting_path(@course, @meeting) %> |
<%= link_to 'Back', course_path(@course) %>
