<%- model_class = Course -%>
<table class="table table-striped">
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td class="big"><%= course.name %></td>
        <td class="right">
            <a class="btn btn-success" href="<%= new_course_meeting_path(course) %>">Take Attendance</a>
            <a class="btn btn-info" href="<%= course_path(course) %>">View Attendance</a>
            <a class="btn btn-warning" href="<%= edit_course_path(course) %>">Edit</a>
            <a class="btn btn-danger" data-confirm="Are you sure?" data-method="delete" href="<%= course_path(course) %>" rel="nofollow">Delete</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<a class="btn btn-primary" href="<%= new_course_path %>">New Course</a>
