<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @course.name %>
</p>

<%= link_to 'New Meeting', new_course_meeting_path(@course)%>

<table>
  <thead>
    <tr>
      <th>meetings</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.meetings.sort_by(&:when).reverse.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
		<td><%= meeting.when %></td>
        <td><%= link_to 'Show', course_meeting_path(@course, meeting) %></td>
		<td><%= link_to 'Update', edit_course_meeting_path(@course, meeting) %></td>
        <td><%= link_to 'Destroy', course_meeting_path(@course, meeting), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', courses_path %>
