<!DOCTYPE html>
<html>
<head>
  <title>Attendanceninja</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
<body>

<%= nav_bar :static => :top, :responsive => true do %>
  <%= menu_group do %>
    <%= render_breadcrumbs('>') %>
  <% end %>
	<%= menu_group :pull => :right do %>
	  <%= menu_item "Sign Out", root_path %>
	<% end %>
<% end %>

<%= render_breadcrumbs('>') %>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>




<div id="user_nav">
  <% if get_user %>
    Logged in as <%= get_user.email %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
</div>


  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  
<div class="container">
  <%= yield %>
</div>
  
</body>
</html>
