<!DOCTYPE html>
<html>
<head>
  <title>Attendanceninja</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= html_import_tag 'application'%>
  <link href="//fonts.googleapis.com/css?family=Roboto:100italic,100,300italic,300,400italic,400,500italic,500,700italic,700,900italic,900" rel="stylesheet" type="text/css">  
  <!-- <link rel="import" href="assets/core-icons.html"> -->
  </head>
<body>


<div id="user_nav">
  <% if get_user %>
    Logged in as <%= get_user.email %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
</div>


  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  <core-toolbar>
    <div id="title"></div>
  </core-toolbar>
  
  <div class="main">
    <%= yield %>
  </div>
  
</body>
</html>
