<!DOCTYPE html>
<html>
<head>
  <title>Text Attendance</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" type="text/css" href="/assets/jquery.datetimepicker.css"/ >
  <script src="/assets/jquery.js"></script>
  <script src="/assets/jquery.datetimepicker.js"></script>

  </head>
<body>
<%= nav_bar :static => :top, :responsive => true do %>
  <%= menu_group do %>
    <h2><%= render_breadcrumbs('>') %></h2>
  <% end %>
	<%= menu_group :pull => :right do %>
    <% if get_user %>
      Logged in as <%= get_user.email %>&nbsp
      <a class="btn btn-default navbar-btn", href="<%= sign_out_path %>">Sign Out</a>
    <% else %>
      <a class="btn btn-default navbar-btn", href="<%= sign_up_path %>">Sign Up</a> or 
      <a class="btn btn-default navbar-btn", href="<%=  sign_in_path %>">Sign In</a>
    <% end %>
	<% end %>
<% end %>
<%= bootstrap_flash %>
  
<div class="container">
  <%= yield %>
</div>
  
</body>
</html>
